html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cls-1, .cls-3 {
  fill: none;
}

.cls-1 {
  stroke: #ee352e;
  stroke-linejoin: round;
  stroke-width: 35px;
}

.cls-2, .cls-4 {
  fill: #fff;
}

.cls-2 {
  stroke: #4d4d4d;
  stroke-width: 6px;
}

.cls-3 {
  stroke: #fff;
  stroke-width: 11px;
}

.st0 {
  fill: none;
  stroke: #00933C;
  stroke-width: 34;
  stroke-linejoin: round;
}

.st1 {
  fill: none;
  stroke: #0039A6;
  stroke-width: 34;
  stroke-linejoin: round;
}

.st2 {
  fill: none;
  stroke: #FCCC0A;
  stroke-width: 34;
  stroke-linejoin: round;
}

.st3 {
  fill: none;
  stroke: #FF6319;
  stroke-width: 34;
  stroke-linejoin: round;
}

.st4 {
  fill: none;
  stroke: #EE352E;
  stroke-width: 34;
  stroke-linejoin: round;
}

.st5 {
  fill: #FFFFFF;
  stroke: #4D4D4D;
  stroke-width: 5;
}

.st6 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 11;
}

.st7 {
  fill: #FFFFFF;
}