html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cls-1, .cls-3 {
  fill: none;
}

.cls-1 {
  stroke: #ee352e;
  stroke-linejoin: round;
  stroke-width: 35px;
}

.cls-2, .cls-4 {
  fill: #fff;
}

.cls-2 {
  stroke: #4d4d4d;
  stroke-width: 6px;
}

.cls-3 {
  stroke: #fff;
  stroke-width: 11px;
}